.main{
    margin: 0 auto;
    width: 1450px;
}
.main__aside{
    width: 300px;
}
.main__aside--rank{
    margin-top: 15px;
    background-color: #43454E;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.rank__over{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.rank__aside{
    display: flex;
}
.rank__cap{
    margin-right: 10px;
}
.rank__radiant{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.274);
}
.rank__radiant--div{
    display: flex;
}
.radiant__img{
    height: 70px;
    margin-right: 10px;
}
.radiant__div{
    margin: auto;
}
.radiant__p{
    margin: 0;
}
.radiant__circle{
    width: 70px;
}
.rank__txt{
    font-size: 1.15rem;
    font-weight: bold;
}
.radiant__percentage{
    position: absolute;
    top: 100px;
    left: 218px;
}
.radiant__percentage>.radiant__p{
    font-size: 0.65rem;
}
.radiant__p--info{
    font-size: 0.65rem;
    color: rgb(173, 173, 173);
}
.radiant__day{
    display: flex;
    justify-content: space-between;
}
.radiant__carrer{
    background-color: rgba(34, 34, 34, 0.274);
    border-radius: 5px;
}
.radiant__span{
    background-color: rgba(255, 56, 56, 0.479);
    color: #f3654c;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.p__span{
    display: flex;
    align-items: center;
}
.p__point{
    font-size: 1.1rem;
    font-weight: bolder;
    color: gold;
}
.p__board{
    font-size: 0.6rem;
}

.main__aside--statistics{
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #43454E;
}
.statistics__title{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.274);
}
.statistics__title--img{
    margin-right: 10px;
}
.statistics__title--p{
    margin: 0;
}
.title{
    font-size: 1.1rem;
    font-weight: bold;
}
.subtitle{
    font-size: 0.7rem;
}
.statistics__main{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #33353C;
}
.statistics__button{
    background-color: #33353C;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.statistics__button:hover{
    background-color: #F34C61;
}
.main__aside--accuracy{
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px; 
    background-color: #43454E;
}
.accuracy__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.274);
}
.accuracy__title--div{
    display: flex;
}
.accuracy__title--img{
    margin-right: 10px;
}
.accuracy__main{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.accuracy__main--div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
}
.accuracy__main--p{
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head, .body, .legs{
    font-size: 1rem;
    margin-left: 5px;
    font-weight: bold;
}
.body__hits{
    margin-left: 0;
}
.body__red{
    color: #F34C61;
}
.accuracy__footer--img{
   width: 270px;
}