*{
    box-sizing: border-box;
    scrollbar-color: rgb(245, 65, 65) transparent;
    scrollbar-width: thin;
}
body{
    margin: 0;
    background-color: #292B30;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 0.8rem;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container__div{
    width: 100%;
}
.header{
    width: 100%;
    background-color: #292B30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(109, 109, 109);
    position: sticky;
    top: 0;
    height: 80px;
}
.header__div--download{
    display: flex;
    background-color: rgb(245, 65, 65);
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
}
.header__div--download:hover{
    box-shadow:  0px 0px 20px rgb(245, 65, 65);
}
.download__img{
    width: 20px;
}
.header__div--search{
    display: flex;
    justify-content: space-around;
    height: 35px;
    width: 500px;
    background-color: #30323A;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 220px;
}
.search__riotlogo{
    width: 45px;
    text-align: center;
    border-right: 1px solid rgb(109, 109, 109);
    display: flex;
    vertical-align: middle;
    justify-content: center;
}
.search__riotlogo--img{
    border-bottom: 1px solid rgb(245, 65, 65);
    width: 15px;
}
.search__input{
    width: 500px;
    background-color: transparent;
    border: 0px;
    outline: 0px;
}
.search__input::placeholder{
    color: #C4C4C4;
}
.search__img{
    width: 25px;
    padding: 5px;
}
.header__div--register{
    display: flex;
    height: 35px; 
    align-items: center;
    justify-content: space-around; 
    margin: 10px;
}
.register__support{
    border-right: 1px solid rgb(109, 109, 109) ;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.register__support--img{
    width: 20px;
    margin: 15px;
}
.register__div{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.register__div--login{
    border-radius: 5px;
    border: 1px solid white;
    width: 120px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register__div--login:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.register__div--register{
    border-radius: 5px;
    border: 1px solid #F34C61;
    width: 120px;
    height: 35px;
    background-color: rgba(243, 76, 98, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register__div--register:hover{
    background-color: rgba(243, 76, 98, 0.5);
}